body {
    padding: 8px;
}

.container {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 999;
}

.inner {
    display: block;
    width: 100%;
    text-align: left;
}

.header {
    background-color: #0074D9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: -8px -8px 8px -8px;
}

.header .user {
    margin-right: 10px;
}

.user-menu {
    color: white;
    text-decoration: none;
}

.user-menu:hover {
    color: black;
}

.app-name {
    color: black !important;
    margin-right: 16px;
    text-decoration: none !important;
}

.app-name:hover {
    color: black;
}

.dropdown {
    position: relative !important;
    display: inline-block !important;
}

.power-bi-dropdown {
    margin-left: 24.125rem !important;
    margin-top: -2.5rem !important;
}

.show {display:block;}

.table-container {
    width: 600px;
}

.filter-form, .report-1 {
    margin-bottom: 8px !important;
}

#station_select {
    width: 250px;
    margin-bottom: 8px;
}

