{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div>
            <a class="h2 app-name" href="">ecoStation</a>
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button onclick="showInfoDropdown()" class="btn btn-info dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show info
                    </button>
                    <div id="info-list" class="dropdown-menu dropdown-content">
                        <form id="info-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="selected_table" id="selected_table">
                        </form>
                        {% for table in tables %}
                            <a class="dropdown-item" href="#" onclick="selectTable('{{ table }}')">{{ table }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="dropdown">
                    <button onclick="showReportDropdown()" class="btn btn-info dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Show reports
                    </button>
                    <div id="report-list" class="dropdown-menu dropdown-content">
                        <form id="report-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="selected_report" id="selected_report">
                        </form>
                        {% for report in reports %}
                            <a class="dropdown-item" href="#" onclick="selectReport('{{ report }}')">{{ report }}</a>
                        {% endfor %}

                        <div class="dropright">
                            <a class="dropdown-item dropdown-toggle dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showPowerBIDropdown()">PowerBI</a>
                            <div id="power-bi-list" class="dropdown-menu power-bi-dropdown dropdown-content">
                                <a class="dropdown-item" href="https://app.powerbi.com/groups/me/reports/9a1b70c4-2b02-4990-ae77-953c08662219/ReportSection?experience=power-bi" target="_blank">List of connected stations</a>
                                <a class="dropdown-item" href="https://app.powerbi.com/groups/me/reports/8fc70a32-b5c9-4b8b-a9f1-4e2c793ac184/ReportSection?experience=power-bi" target="_blank">Station measurement results for the time period</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a class="user-menu" href="{% url "logout" %}">Logout</a>
                |
                <a class="user-menu" href="{% url "password_change" %}">Change password</a>
            {% else %}
                <a class="user-menu" href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        function showInfoDropdown() {
            document.getElementById("info-list").classList.toggle("show");
            document.getElementById("report-list").classList.remove("show");
        }

        function showReportDropdown() {
            document.getElementById("report-list").classList.toggle("show");
            document.getElementById("info-list").classList.remove("show");
        }

        function showPowerBIDropdown() {
            document.getElementById("power-bi-list").classList.toggle("show");
        }

        function selectTable(selectedTable) {
            document.getElementById("selected_table").value = selectedTable;
            document.getElementById("info-form").submit();
        }

        function selectReport(selectedReport) {
            document.getElementById("selected_report").value = selectedReport;
            document.getElementById("report-form").submit();
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {

                let dropdowns = document.getElementsByClassName("dropdown-content");
                let i;
                for (i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>